{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container g-3 mt-4">
        <a href="{{ path('post.add') }}" class="btn btn-success"> + Ajouter</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Title</td>
                    <td>Description</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.title }}</td>
                    <td>{{ article.formatedDescription }}</td>
                    <td><a href="{{ path('post.show', {id: article.id}) }}" class="btn btn-primary m-1">Voir</a><a href="{{ path('post.delete', {id: article.id}) }}" class="btn btn-danger m-1">Supp</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        
    </div>
{% endblock %}
